.scenario {
  position: relative;
  width: inherit;
  height: inherit;

  .background {
    position: absolute;
    width: 1300px;
    height: 662px;
    top: 50%;
    left: 50%;
    margin-top: -331px;
    margin-left: -650px;

    &-image {
      background-image: url('./images/woods.png');
      background-repeat: repeat-x;
      background-size: 47%;
    }

  }

}
