@import '../../Scenarios/Scenarios';

@keyframes alien-walk {
  0% {
    height: 120px;
    width: 120px;
  }
  50% {
    height: 100px;
    width: 120px;
  }
  100% {
    height: 120px;
    width: 120px;
  }
}

.alien-wrapper {
  .teleportation {
    position: absolute;
    bottom: $mars-floor;
    left: 65px;
    z-index: 90;
  }
  .alien {
    position: absolute;
    bottom: $mars-floor + 72px;
    left: 146px;
    z-index: 95;
    opacity: 0;
    transition: bottom 2s 4.5s, left 7s, opacity 2s 7s;

    img {
      width: 120px;
    }

    &.animate {
      opacity: 1;
      bottom: $mars-floor;
      left: 727px;
      transition: bottom 2.5s, left 7s 1.3s, opacity 1s;

      img {
        animation-name: alien-walk;
        animation-duration: 0.8s;
        animation-delay: 2s;
        animation-iteration-count: 6;
        animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
      }
    }
  }
}
