@keyframes giant-alien-holding-ground {
  0% {
    bottom: 90px;
  }
  50% {
    bottom: 260px;
  }
  100% {
    bottom: 160px;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes giant-alien-unholding-ground {
  0% {
    bottom: 160px;
  }
  50% {
    bottom: 260px;
  }
  100% {
    bottom: 90px;
  }
}

@keyframes giant-alien-shake {
  0% {
    right: 39px;
  }
  50% {
    right: 44px;
  }
  100% {
    right: 39px;
  }
}

.giant-alien-wrapper {
  .giant-alien {
    position: absolute;
    bottom: -350px;
    right: 39px;
    z-index: 95;
    transition: bottom 5s;

    img {
      width: 500px;
    }

    &.animate {
      opacity: 1;
      bottom: 54px;
      transition: bottom 14s 5s;

      animation-name: giant-alien-shake;
      animation-duration: 0.12s;
      animation-delay: 4s;
      animation-iteration-count: 90;
      animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
    }

    &-eyes {
      position: absolute;
      bottom: 336px;
      right: 402px;
      z-index: 120;
      transition: opacity 0s;
      transition-delay: 0s;
      opacity: 0;

      &.animate {
        transition: opacity 1s;
        transition-delay: 19s;
        opacity: 100;
      }

      & > .hypnotized {
        position: absolute;


        &.animate {
          animation-name: rotate360;
          animation-duration: 2s;
          animation-delay: 19s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }

        img {
          height: 50px;
        }

        &.left {
        }

        &.right {
          left: 177px;
        }
      }
    }

    &-hand {
      position: absolute;
      bottom: 90px;
      right: 360px;

      &.after-animate {
        animation-name: giant-alien-unholding-ground;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
      }

      &.animate {
        animation-name: giant-alien-holding-ground;
        animation-duration: 5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
      }

      & > .left {
        position: absolute;
        right: 182px;

        & img {
          transform: rotateY(180deg);
        }
      }

      & > .right {
        position: absolute;
        right: -136px;
      }

      .hand {
        position: absolute;
        
        & > img {
          height: 250px;
        }

        &.back {
          z-index: 95;
        }

        &.front {
          z-index: 100;
          transition: z-index 0s 3s;

          &.animate {
            transition: z-index 0s 3s;
            z-index: 115;
          }
        }
      }


    }
  }


}
