.ghost {
  .castle {
    position: absolute;
    bottom: $floor;
    left: 282px;
    margin-left: 50%;
    z-index: 90;

    & > img {
      height: 280px;
    }
  }
  .scare {
    position: absolute;
    bottom: $floor + 6px;
    right: 326px;
    z-index: 85;
    opacity: 0.3;
    transition: right 5s, opacity 2.5s;

    &.animate {
      opacity: 1;
      right: 545px;
    }

    & > img {
      height: 75px;
    }
  }
}
