@import '../Scenarios/Scenarios';

@keyframes bunny-earthquake {
  0% {
    bottom: $floor;
  }
  50% {
    bottom: $floor - 5px;
  }
  100% {
    bottom: $floor;
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes turn-rotate90 {
  from {
    transform: rotate(0deg) rotateY(180deg);
    bottom: $floor;
  }
  to {
    transform: rotate(-127deg) rotateY(180deg);
    bottom: $floor - 17px;
  }
}

.bunny {
  position: absolute;
  bottom: $floor;
  left: -35px;
  margin-left: 50%;

  &-eyes {
    position: absolute;
    bottom: 57px;
    right: 59px;
    z-index: 120;
    transition: opacity 1s;
    transition-delay: 21s;
    visibility: hidden;
    opacity: 0;

    & > .hypnotized {
      position: absolute;

      img {
        height: 10px;
      }

      &.right {
        left: 15px;
      }
    }
  }

  & > .char {
    height: 70px;
    width: 68px;
    background-size: cover;
    background-image: url('./images/rabbit.png');
    background-repeat: no-repeat;
  }

  &.ufo {
    transition: bottom 4s;
    transition-delay: 0s;

    &.ufo-animate {
      bottom: 515px;
      animation-name: rotate360;
      animation-duration: 2s;
      animation-delay: 4.7s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      transition: bottom 8s;
      transition-delay: 4s;
    }
  }

  &.ghost {
    transition: transform 5s;
    transition-delay: 0s;

    &.ghost-animate {
      transform: rotateY(180deg);
      transition-delay: 5s;

      animation-name: turn-rotate90;
      animation-duration: 0.3s;
      animation-delay: 9s;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }
  }

  &.alien {
    & > .char {
      transition: background-image 2s ease;
      transition-delay: 0.7s;
    }

    &.alien-animate > .char {
      background-image: url('./images/rabbit-alien.png');
      transition-delay: 4s;
    }
  }

  &.giant-alien {
    transition: transform 1s;

    &.giant-alien-animate {
      transform: rotateY(180deg);
      transition-delay: 12s;

      animation-name: bunny-earthquake;
      animation-duration: 0.12s;
      animation-iteration-count: 120;
      animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
    }

    & > .char {
      background-image: url('./images/rabbit-no-eyes.png');
      transition-delay: 22s;
    }

    .bunny-eyes {
      &-animate {
        opacity: 100;
        visibility: visible;

        & > .hypnotized {
          position: absolute;
          padding-bottom: 6px;

          animation-name: rotate360;
          animation-duration: 2s;
          animation-delay: 0s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
      }
    }
  }
}
