.ufo {
  .spaceship {
    position: absolute;
    top: -20px;
    left: -150px;
    margin-left: 50%;
    z-index: 90;

    & > img {
      height: 300px;
    }
  }
  .abduction {
    position: absolute;
    top: 143px;
    left: -5px;
    margin-left: 50%;
    border-bottom: 0 solid rgba(217, 255, 0, 0.25);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 10px;
    z-index: 85;
    transition: border-bottom 4s, border-left 5s, border-right 5s, left 5s, width 5s;

    &.animate {
      border-bottom: 430px solid rgba(217, 255, 0, 0.25);
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      width: 147px;
      left: -74px;
    }
  }


}
