@import '../Scenarios';

@keyframes earthquake {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 4px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes spaceship {
  0% {
    top: 55px;
  }
  50% {
    top: 95px;
  }
  100% {
    top: 55px;
  }
}

.mars-scenario {
  position: relative;
  width: inherit;
  height: inherit;

  .background-spaceship{
    position: absolute;
    top: 55px;
    z-index: 90;
    opacity: 0.5;
    animation-name: spaceship;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    & > img {
      height: 100px;
    }

    &.left {
      left: -490px;
      margin-left: 50%;
      animation-delay: 1s;
    }

    &.right {
      left: 290px;
      margin-left: 50%;
    }
  }

  .background {
    position: absolute;
    width: 1300px;
    height: 662px;
    left: 50%;
    margin-left: -650px;
    overflow: hidden;

    &-image {
      background-image: url('./images/mars.png');
      background-repeat: repeat-x;
      background-size: 47.4%;
    }

    &-image-floor {
      position: absolute;
      width: 1300px;
      height: 662px;
      top: 572px;
      left: 50%;
      margin-left: -650px;
      overflow: hidden;
      background-image: url('./images/ground.png');
      background-repeat: repeat-x;
      background-size: 47%;
      z-index: 105;

      &.giant-alien-animate {
        animation-name: earthquake;
        animation-duration: 0.12s;
        animation-iteration-count: 120;
        animation-timing-function: cubic-bezier(0.46, 0.21, 0.55, 0.95);
      }
    }

  }

}
